.dashboard {
  padding: 5px;
}

.dashboard-content {
  width: 100%;
}

.card-board {
  width: 100%;
  padding: 10px;
  overflow-y: auto;
}

.board-left {
  height: 90%;
}

.board-right {
  height: 80%;
}

.card-table {
  width: 100%;
}

.filter {
  width: 100%;
}

.date-filter {
  min-width: 100px;
}

.selected {
  background-color: lightsteelblue;
}